/* Home.css */
@import './../../fonts/fonts.css';
* {
   /* box-sizing: border-box;*/
    margin: 0;
    padding: 0;
}

body {

    font-family: 'MarvelSans-BoldExtended', sans-serif; /* Вы можете заменить на любой другой шрифт */
    background-color: #EEEEF0; /* Светлый фон */
    color: #333; /* Темный текст */
    line-height: 1.6;
}

html, body {
    height: 100%; /* Устанавливаем высоту для html и body */
    margin: 0; /* Убираем отступы */
    overflow: hidden; /* Запрещаем прокрутку страницы */
}

.fullscreen-container {
    height: 100vh; /* Занимает всю высоту экрана */
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов */
}


.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Минимальная высота экрана */
    padding: 10px;
    text-align: center;
    font-family: 'MarvelSans-Regular', sans-serif; /* Используйте ваш шрифт */
    margin-bottom: 10px; 
}

h1 {
    font-size: 2.0rem; /* Размер заголовка */
    margin-bottom: 10px;
    color: #409BFF; /* Цвет заголовка */
    font-family: 'MarvelSans-Regular', sans-serif; /* Используйте ваш шрифт */
}

p {
    font-size: 1.2rem; /* Размер текста */
    margin-bottom: 15px;
    font-family: 'MarvelSans-Regular', sans-serif; /* Используйте ваш шрифт */
}

.brief-button:hover {
    background-color: #409BFF; /* Цвет кнопки при наведении */
}
.brief-button {
    display: inline-block;
    padding: 15px 30px; /* Отступы */
    font-size: 16px; /* Размер шрифта */
    color: white; /* Цвет текста */
    background: linear-gradient(90deg,  #0A1A5C, #37a7ed); /* Градиентный фон */
    border: none; /* Без рамки */
    border-radius: 5px; /* Закругленные углы */
    text-decoration: none; /* Убираем подчеркивание */
    cursor: pointer; /* Указатель при наведении */
    position: relative; /* Для абсолютного позиционирования псевдоэлемента */
    overflow: hidden; /* Скрываем переполнение */
    font-family: 'MarvelSans-Regular', sans-serif; /* Используйте ваш шрифт */
}

/*.brief-button::before {
    content: '';
    position: absolute;
    top: -100%; /* Начальное положение выше кнопки */
   /* left: -100%; /* Начальное положение слева от кнопки */
   /* width: 300%; /* Ширина анимации больше кнопки */
   /* height: 300%; /* Высота анимации больше кнопки */
   /* background: linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)); /* Полупрозрачный градиент */
   /* animation: ripple 1.5s infinite; /* Анимация */
/*}*/

@keyframes ripple {
    to {
        top: 100%; /* Перемещение вниз */
        left: 100%; /* Перемещение вправо */
    }
}

.brief-button:hover {
    background-position: right center; /* Положение градиента при наведении */
}






.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Установите желаемую высоту блока */
    background-color: #f0f0f0; /* Фоновый цвет блока */
    margin-bottom: 10px; /* Отступ снизу для разделения от списка идей */
    margin-top: 20px;
}

.image {
    max-width: 100%; /* Ограничение ширины изображения до 100% блока */
    max-height: 100%; /* Ограничение высоты изображения до 100% блока */
    object-fit: contain; /* Масштабирование изображения с сохранением пропорций */
}


/* Фиксированное позиционирование кнопки на мобильных устройствах */
@media (max-width: 768px) {
    .brief-button {
        position: fixed;
        bottom: 20px; /* Отступ от низа экрана */
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 40px); /* Ширина кнопки с учетом отступов */
        max-width: 400px; /* Максимальная ширина кнопки */
    }
}