/* Home.css */
@import './../../fonts/fonts.css';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    font-family: 'MarvelSans-BoldExtended', sans-serif; /* Вы можете заменить на любой другой шрифт */
    background-color: #EEEEF0; /* Светлый фон */
    color: #333; /* Темный текст */
    line-height: 1.6;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Минимальная высота экрана */
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.0rem; /* Размер заголовка */
    margin-bottom: 20px;
    color: #409BFF; /* Цвет заголовка */
}

p {
    font-size: 1.2rem; /* Размер текста */
    margin-bottom: 15px;
}

.brief-button {
    display: inline-block;
    background-color: #0A1A5C; /* Цвет кнопки */
    color: white; /* Цвет текста кнопки */
    padding: 15px 30px; /* Отступы кнопки */
    border-radius: 5px; /* Закругленные углы */
    text-decoration: none; /* Убираем подчеркивание */
    font-size: 1.2rem; /* Размер текста кнопки */
    transition: background-color 0.3s ease; /* Плавный переход цвета */
}

.brief-button:hover {
    background-color: #409BFF; /* Цвет кнопки при наведении */
}

/* Фиксированное позиционирование кнопки на мобильных устройствах */
@media (max-width: 768px) {
    .brief-button {
        position: fixed;
        bottom: 20px; /* Отступ от низа экрана */
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 40px); /* Ширина кнопки с учетом отступов */
        max-width: 400px; /* Максимальная ширина кнопки */
    }
}