/* Home.css */
@import './../../fonts/fonts.css';

/* Сброс стилей */
* {
    box-sizing: border-box; /* Упрощает управление размерами элементов */
    margin: 0; /* Убираем отступы */
    padding: 0; /* Убираем внутренние отступы */
}

/* Общие стили для html и body */
html, body {
    height: 100%; /* Устанавливаем высоту для html и body */
   /* overflow: hidden; /* Запрещаем прокрутку страницы */
    margin: 0; /* Убираем отступы */
    background-color: #EEEEF0; /* Фоновый цвет блока */
}



.image-container_idea {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Установите желаемую высоту блока */
    background-color: #EEEEF0; /* Фоновый цвет блока */
    margin-bottom: 10px; /* Отступ снизу для разделения от списка идей */
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px; /* Установите радиус скругления по вашему выбору */
}

.image_idea {
    max-width: 100%; /* Ограничение ширины изображения до 100% блока */
    max-height: 100%; /* Ограничение высоты изображения до 100% блока */
    object-fit: contain; /* Масштабирование изображения с сохранением пропорций */
}


.fullscreen-container_idea {
    height: 100vh; /* Занимает всю высоту экрана */
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов */
}



/* Стили для контейнера с текстом */
.home-container_idea {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Расположение текста в верхней части */
    align-items: center;
    padding: 10px; /* Стандартные отступы */
    text-align: center; /* Центрирование текста */
    overflow-y: auto; /* Прокрутка, если текст превышает высоту контейнера */
    padding: 10px 15px; 
}

/* Стили для заголовка h1 */
h1 {
    font-size: 1.5rem; /* Размер заголовка для мобильных устройств */
    margin-bottom: 10px; /* Отступ снизу */
    color: #0a1a5c; /* Цвет заголовка */
    font-family: 'MarvelSans-Regular', sans-serif; /* Используйте ваш шрифт */
    font-weight: bold;
}

/* Стили для параграфов p */
p {
    font-size: 1rem; /* Размер текста для мобильных устройств */
    margin-bottom: 10px; /* Отступ снизу между параграфами */
    font-family: 'MarvelSans-Regular', sans-serif; /* Используйте ваш шрифт */
    color: #0a1a5c; 
}

/* Стили для кнопки "Составить Бриф" */
.brief-button_idea {
    position: fixed; /* Фиксированное позиционирование кнопки */
    bottom: 20px; /* Отступ от низа экрана */
    left: 50%; /* Центрируем по горизонтали */
    transform: translateX(-50%); /* Сдвигаем влево на половину ширины кнопки */
    padding: 15px 30px; /* Отступы кнопки */
    font-size: 16px; /* Размер шрифта кнопки */
    color: white; /* Цвет текста кнопки */
    background: linear-gradient(90deg, #0D30AB, #37a7ed); /* Градиентный фон кнопки */
    border: none; /* Без рамки */
    border-radius: 5px; /* Закругленные углы кнопки */
    text-decoration: none; /* Убираем подчеркивание текста кнопки */
    cursor: pointer; /* Указатель при наведении на кнопку */
    font-family: 'MarvelSans-Regular', sans-serif; /* Используйте ваш шрифт */
}


@media (max-width: 768px) {
    .brief-button_idea {
        width: calc(100% - 40px); /* Ширина кнопки с учетом отступов на мобильных устройствах */
        max-width: 400px; /* Максимальная ширина кнопки на мобильных устройствах */
        bottom: 20px; /* Отступ от низа экрана на мобильных устройствах */
        left: 50%;
        transform: translateX(-50%);
    }
}