@tailwind base;
@tailwind components;
@tailwind utilities;

@import './../../fonts/fonts.css';



.form-group {
  margin-bottom: 0.5rem; /* Уменьшите значение, чтобы сократить расстояние между полями */
}

.form-group:last-child {
  margin-bottom: 1.5rem; /* Оставьте больший отступ для кнопки отправки */
}

.form-group label {
  display: block;
  font-size: 0.875rem; /* Уменьшите размер шрифта метки */
  font-weight: medium;
  color: #0A1A5C; /* Задайте нужный цвет текста */
  margin-bottom: 0.25rem; /* Уменьшите отступ снизу метки */
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.5rem 1rem; /* Уменьшите внутренние отступы полей */
  border: 1px solid #D1D5DB; /* Измените цвет границы на более светлый */
  border-radius: 0.375rem;
  font-size: 0.875rem; /* Уменьшите размер шрифта полей */
  font-family: 'MarvelSans-Regular', sans-serif; /* Укажите ваш шрифт */
  resize: none; /* Отключите возможность изменения размера textarea */
}

.form-group textarea {
  height: 100px; /* Установите желаемую высоту textarea */
  overflow-y: auto; /* Включите вертикальную прокрутку */
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #0A1A5C; /* Измените цвет границы при фокусе на нужный */
  box-shadow: 0 0 0 3px rgba(10, 26, 92, 0.2); /* Добавьте тень при фокусе */
}

.form-group .error-message {
  color: #DC2626; /* Цвет текста для сообщений об ошибках */
  font-size: 0.75rem; /* Уменьшите размер шрифта сообщений об ошибках */
  margin-top: 0.25rem; /* Добавьте небольшой отступ сверху для сообщений об ошибках */
}

.custom-button {
    background-color: #0A1A5C; /* Зеленый цвет фона */
    color: #EEEEF0 ; /* Белый цвет текста */
    font-family: 'MarvelSans-Regular', sans-serif; /* Шрифт кнопки */
    padding: 12px 24px; /* Отступы внутри кнопки */
    border: none; /* Убираем границу */
    border-radius: 4px; /* Скругленные углы */
    cursor: pointer; /* Курсор в виде указателя при наведении */
    font-size: 16px; /* Размер шрифта */
    transition: background-color 0.3s ease; /* Анимация при наведении */
  }
  
  .custom-button:hover {
    background-color: #409BFF; /* Более темный оттенок зеленого при наведении */
  }
  
  .custom-button:disabled {
    background-color:  #78C946; /* Серый цвет фона для неактивной кнопки */
    color:  #EEEEF0; /* Серый цвет текста для неактивной кнопки */
    cursor: not-allowed; /* Курсор в виде запрещающего знака для неактивной кнопки */
  }





