@import './../../fonts/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


.star {
    color: #ccc;
    font-size: 24px;
    cursor: pointer;
}

.star.active {
    color: #ffd700;
}

.rating {
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
}

.vote-count {
    margin-left: 10px; /* Отступ между звездами и количеством голосов */
    font-size: 16px; /* Размер шрифта для количества голосов */
    color: #555; /* Цвет текста для количества голосов */
}

.share-button {
    width: calc(100% - 30px); /* Занимает всю ширину с учетом отступов */
    display: block;
    background-color: #0A1A5C; /* Зеленый цвет */
    color: white; /* Белый текст */
    padding: 10px 20px; /* Отступы */
    border: none; /* Без рамки */
    border-radius: 8px; /* Закругленные углы */
    cursor: pointer; /* Указатель при наведении */
    margin-top: 20px; /* Отступ сверху */
    font-family: 'MarvelSans-Regular', sans-serif; /* Используйте ваш шрифт */
    font-size: 16px; /* Размер шрифта */
}

.share-button:hover {
   background-color: #78C946; /* Более темный зеленый при наведении */
}

.close-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #1DA1F2; /* Цвет кнопки */
    color: white; /* Цвет текста */
    padding: 10px 20px; /* Отступы */
    border-radius: 8px; /* Закругление углов */
    border: none; /* Убираем рамку */
    cursor: pointer; /* Курсор при наведении */
    font-size: 16px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
}

.idea-list {
    scrollbar-width: thin; /* Firefox */
}

.idea-list::-webkit-scrollbar {
    width: 8px; /* Chrome/Safari */
}

.idea-list::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.idea-list::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

